<%= form_for(@post) do |f| %>
  <%= render 'common/errors', object: @post %>

  <div class="field">
    <%= f.label :title %><br>
    <%= f.text_field :title %>
  </div>
  <div class="field">
    <%= f.label :body %><br>
    <%= f.text_area :body %>
  </div>
  <div class="field form-group">
    <%= f.label :category_ids, t('.categories') %><br>
    <%= f.collection_select :category_ids, Category.all, :id,:title, {}, {multiple:true} %>
  </div>
  <% if user_signed_in? %>
    <div class="field">
      <%= f.label :is_draft, t('.draft') %>
      <%= check_box_tag :is_draft, "is_draft", @post.draft? %>
      <% if user_signed_in? && current_user.is_admin? %>
          <em><%= t('.publish_by_admin')%></em>
      <% end %>
    </div>
   <% end %>
  <div class="actions">
    <%= f.submit t('.submit', action: (@post.new_record? ? t('common.create') : t('common.update')))%>
  </div>
<% end %>
